@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Noto+Sans:wght@100;300&family=Titillium+Web:ital@1&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
} 

:root{
    --graditent: linear-gradient(
        45deg,
        #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871 );


        
}

body{
    min-height: 100vh;
    background: #ddd;
    background-image: var(--graditent);
    background-size: 400%;
    animation: bg-anime 5s infinite alternate;
}

@keyframes bg-anime{
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.contactform{
    padding: 0 34px;
    padding-top: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    color:white
}

.contactform h1{
    font-family: 'Source code pro', monospace;
    padding: 24px;
    text-align: center;
}

.contactform form div{
    padding:10px 0px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.contactform form div mb-3{
    padding:10px;
}

.contactform form div input{
    border-radius: 3%;
    width: 20vw ;
    padding: 3px;
}

#emailHelp{
    font-size: 10px;
    margin-left: 20px;
    color:rgb(134, 201, 26);
    padding: 3px 0 0 0;
}

#form-check{
    /* display: flex; */
    flex-direction: row;

}
#form-check input{
    width: 12px;
    margin: 5px;
}

#btn{
    padding: 7px 9px;
    border-radius: 10px;
    color: antiquewhite;
    background-color: rebeccapurple;
    margin: 0 5px;
    cursor: pointer;
}

#btn:hover{
    color: rebeccapurple;
    background-color: antiquewhite;
}

.footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 1rem 0 0 2rem;
}

.footer p {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bolder;
    margin-left: 1rem;
}

.footer a {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bolder;
    text-decoration: none;
}

.footer li{
    padding: 1rem 2rem 0rem 1rem;
}

#link{
    padding: 1rem 1rem 1rem 1rem;
}

.footer img{
    width: 2rem;
    margin: 1rem 1rem;
}

